*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #6842aa;
}
header{
    background-color: #9689ff;
    text-align: center;
    width: 100%;
    height: 100px;
    position: fixed;
    padding: 5px;
    z-index: 100;
    top: 0;
    left: 0;
 }
 #logo{
    margin-top: 1px;
 }
nav{
    width: 100%;
    background-color:#2f017a; ;
    font-size: 15px;
    margin: 0px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li >a {
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 20px ;
    color: aliceblue;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: #4cadfe;
}
.menu-vertical{
    text-align: center;
    position: absolute;
    display: none;
    list-style: none;
    background-color: #46d4ffa9;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
  padding: 5px;
    color: aliceblue;
    background-color: #00485e56;
}
.menu-vertical li a{
  font-size: 16px;
    display: block;
    font-weight: bold;
    padding: 5px;
    color: aliceblue;
   /* padding: 15px 15px 15px 20px;*/
    text-decoration: none;
}
#contenedor{
    padding-top:110px;
    display: flex;
    justify-content: space-evenly;
    background-color: #6842aa;
}
.rep{
    width: 80%;
    padding: 100px;
    margin: 50px auto;
    background-color: #2369a0;
    color: aliceblue;
}
.rep h2{
    text-align: center;
    color: black;
    background-color: #f3b925;
    width: 100%;
}
.rep h3{
    color: #f3b925;
}
.perfil{
    display: flex;
    justify-content: space-between;
}
.perfil a{
    color: #f3b925;
    text-decoration: none;
}
.perfil a:hover{
    color: aliceblue;
    background-color: #f3b925 ;
    text-decoration: none;
}
.temporadas{
   /* width: 100%;*/
    display: flex;
	flex-wrap: wrap;
    justify-content: center;

}
.Temp{
    width: 30%;
    background-color: #2369a0;
    color: aliceblue;
    text-align: center;
}
.temporadas article{
	/*width: 26%;*/
	background-color:#2369a0;
	padding: 1em;
	margin: 1em;
}
#text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9,#text10 {
	display: none;
    text-align: left;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap:10px;/*separacion entre los elementos en este caso las imagenes*/
    justify-content: center;
}
.grid-item{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.reu{
    width: 90%;
    padding: 50px;
    margin: 120px auto;
    margin-bottom: 20px;
    background-color: #23699f;
    color: aliceblue;
}
.reu h2{
    text-align: center;
    color: black;
    background-color: #f3b925;
    width: 100%;
}
.reu h3{
    color: #f3b925;
}
.pie{
  width: 90%;
  padding: 20px;
  margin: 20px auto;
  background-color: #af7de8;
  color: aliceblue;
  font-size: 18px;
}
.pie img{
  width: 50px;
  margin: 10px;
  border-radius: 8px;
}
.juego{
    width: 90%;
    padding: 20px;
    margin: 120px auto;
    margin-bottom: 20px;
    background-color: #23699f;
    color: aliceblue;
    display: flex;
    align-items: center;
}
.juego h2{
  text-align: center;
}
.section1{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}
.section1 h1{
  text-align: center;
  font-size: 40px;
  margin: 5px;
}
.section1 button{
  height: 100px;
  width: 100px;
  font-size: 40px;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.2);
  margin: 3px;
}
.section1 button:hover{
  cursor: pointer;
}
.section2{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 400px;
  height: 390px;
  padding: 0px 20px;
}
.estadisticas{
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 3px;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  box-sizing: border-box;
  height: 100px;
}
#contenedor img{
  width: 150px;
}
.perfil img{
  width: 150px;
}
.Temp img{
  width: 200px;
  margin: 10px;
}
.Temp button{
  background-color: rgb(98, 185, 177);
  padding: 5px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  border-style: solid;
  border-color: rgb(196, 233, 230);
  border-width: medium;
}
#html{
  background-color: rgba(41, 7, 133, 0.83);
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  margin-top: 110px;
}
#html-contenido{
  margin: auto;
}
.javas{
  background-color: rgba(198, 72, 221, 0.76);
  color: black;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 90%;
}
.javas2{
  margin: auto;
}
#boton1, #boton2, #boton3, #boton4, #boton5, #boton6{
  background-color: rgba(29, 230, 160, 0.9);
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border: 3px groove rgba(29, 230, 160, 0.9);
  box-shadow: 4px 4px 8px 4px rgba(12,48,38,1);
}
#numeros1, #numeros2, #numeros3, #numeros4,#numeros5, #numeros6, #numeros7, #numeros8, #numeros9, #numeros10{
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 3px ridge;
  color: black;
  font-weight: bold;
}
label{
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}
textarea{
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 3px ridge;
}
strong{
  color: rgba(223, 71, 71, 1);
  font-size: 20px;
}
.deco{
  text-decoration: underline;
  font-size: 18px;
  color: rgb(0, 179, 148);
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 10px;
}
.deco2{
  font-size: 16px;
  color: rgb(180, 40, 40);
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 10px;
}
.medidas{
  padding: 0;
  margin: 0;
  font-size: 15px;
}
#img11, #img12, #img13, #img21, #img22, #img23, #img0{
  height: 100px;
  width: 100px;
  margin: 20px 7px;
  border-radius: 35px;
  box-shadow: 2px 2px 10px 7px rgba(1, 3, 37, 1);
}
#jugadores{
  display: flex;
  justify-content: center;
}
#jugador1, #jugador2{
  display: inline-block;
  margin: 0px 40px;
}
.jugador3{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}





@media screen and (max-width:550px){
  nav{
    width:100%;
    font-size: 12px;
  }
  ul{
    padding: 0px;
    margin: 0px;
  }
  li{
    padding: 0px;
    margin: 0px;
  }
  .menu-horizontal  li a {
    padding: 15px 0px;
    display: block;
  }
  .menu-horizontal  li:hover{
    padding:0px 8px;
  }
  .menu-vertical{
    width: 100px;
    font-weight: bold;
    font-size: 10px;
  }
  #contenedor img{
    width: 80px;
  }
  .rep{
    padding: 20px;
    margin: 20px;
    width: 92%;
  }
  .perfil img{
    width: 80px;
  }
  .pie img{
    width: 35px;
  }
  .temporadas article{
    margin: 5px;
    padding: 10px;
    font-size: 10px;
  }
  .Temp{
    width: 45%;
  }
  .Temp img{
    width:150px;
    margin: 10px;
  }
  .reu{
    padding: 15px;
    margin-top: 110px;
    font-size: 14px;
  }
  .reu h1{
    font-size:18px;
  }
  .reu h2{
    font-size:17px;
  }
  .reu h3{
    font-size:16px;
  }
}
@media screen and (min-width:550px)and (max-width:1000px){
  nav{
    width: 100%;
    font-size: 14px;
  }
  ul{
    padding: 0px;
    margin: 0px;
  }
  .menu-horizontal  li a {
    padding: 15px 0px;
    display: block;

  }
  .menu-horizontal  li:hover{
    padding:0px 15px;
  }
  .menu-vertical{
    width: 100px;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 10px;
  }
  #contenedor img{
    width: 100px;
  }
  .rep{
    padding: 20px;
    margin: 20px;
    width: 92%;
  }
  .perfil img{
    width: 100px;
  }
  .pie img{
    width: 40px;
  }

  .temporadas article{
    margin: 5px;
    padding: 10px;
    font-size: 12px;
  }
  .Temp{
    width: 45%;
  }
  .Temp img{
    width:180px;
    margin: 10px;
  }
  .reu{
    padding: 15px;
    margin-top: 110px;
    font-size: 16px;
  }
  .reu h1{
    font-size:20px;
  }
  .reu h2{
    font-size:19px;
  }
  .reu h3{
    font-size:18px;
  }
}
